#Avoid coping of '.git' folder and '.gitignore' file during production
.git*
#Avoid copying as many Docker related files as you can in production that are not required to be copied to image during build process
.dockerignore
docker-*
docker/dockerfile/*
#Aviod copying of PHPUnit code coverage files to production
public/phpunit-coverage/*
#Avoid copying of data volume folders during production for faster image build time and to make sure that the initial data volume don't copy existing files(You data will still showup during development because project volume will overlay the files.)
storage/app/*

#DLEMP subdirectory installation files
DLEMPFast/*
!DLEMPFast/docker/docker-config/*
